/* !!!!!>>>  Main Color Variables to be used on site  <<<!!!!! */

:root {
	--text-main: #d5ffe4;
	--bg-main: #252b48;
	--cta: #00ff22;
}

/* ------>>>  Basic Reset and Default Style  <<<------ */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	list-style: none;
	font-family: "Montserrat", sans-serif;
}

/*----->>>> Main Styles  <<<<----- */

body {
	background-color: var(--bg-main);
	color: var(--text-main);
	line-height: 1.5;
}

a {
	color: var(--text-main);
}

/* Headers/Text Sizes */
p,
a {
	font-size: 0.8rem;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
	padding: 1rem 0;
}
h3 {
	font-size: 1.1rem;
	padding-bottom: 0.5rem;
}

/* Buttons Style */

.btn-section {
	display: flex;
	justify-content: center;
}
.btn-section > *:not(:first-child) {
	margin-left: 1.2rem;
}

.btn {
	display: inline-block;
	width: 7rem;
	text-align: center;
	position: relative;
	border: 1px solid var(--text-main);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 0.5rem;
	margin-top: 2rem;
	z-index: 1;
}

.btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--cta);
	z-index: -1;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.btn:hover::before {
	width: 100%;
}
.btn:hover {
	color: #252b48;
	border: 1px solid var(--cta);
	border-radius: 5px;
}

/* End Buttons Style */

/* -----Header----- */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	transition: background 0.3s ease, backdrop-filter 0.3s ease;
	-webkit-transition: background 0.3s ease, backdrop-filter 0.3s ease;
	-moz-transition: background 0.3s ease, backdrop-filter 0.3s ease;
	-ms-transition: background 0.3s ease, backdrop-filter 0.3s ease;
	-o-transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

.logo-img {
	width: 60%;
	border: 3px solid #00ff22;
	padding: 3%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
}

.letter-accent {
	color: var(--cta);
}

.main-nav {
	position: fixed;
	padding-top: 5rem;
	top: 0;
	left: -100%;
	width: 100%;
	height: 60vh;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(8px);
	transition: left 0.3s;
	overflow-y: auto;
}
.main-nav.open {
	left: 0;
}
.main-nav.open a {
	padding-bottom: 1rem;
}
.main-nav a {
	font-size: 1rem;
	font-weight: 600;
	margin-left: 3rem;
	display: block;
	text-align: center;
	margin: 1rem 0;
	transition: 0.2s;
	-webkit-transition: 0.2s;
	-moz-transition: 0.2s;
	-ms-transition: 0.2s;
	-o-transition: 0.2s;
}

.main-nav a:hover,
.main-nav a:active {
	color: var(--cta);
}

/* Hamburger menu */

.ham-menu {
	font-size: 2rem;
	cursor: pointer;
	position: absolute;
	right: 4%;
}
.fa-xmark.ham-menu {
	display: none;
	z-index: 20;
}
/* End Hamburger menu */

/* -----End Header----- */

/* Section Styles */

section {
	position: relative;
	max-width: 1444px;
	margin: 0 auto;
	height: 100vh;
	padding: 0 5% 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* End Section Styles */

/* Footer */

footer {
	text-align: center;
	padding: 1.5rem 0;
}

/*----->>>> End Main Styles  <<<<----- */

/* Home Section */

.home-text p {
	margin: 2rem 0;
	max-width: 40ch;
}
.home-img {
	width: 90%;
}

.icons-wrapper {
	text-align: center;
}

.icons-wrapper a {
	margin-right: 2rem;
}

.icons-wrapper a:last-child {
	margin-right: 0;
}
.fa-brands {
	font-size: 2.5rem;
	margin-top: 2rem;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.fa-brands:hover {
	color: var(--cta);
}

/* Start About Section */
.about {
	background: url(../media/images/about-bg.webp) no-repeat center center / cover;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
/* End About Section */

.skills {
	background: url(../media/images/skills-bg.webp) no-repeat center center /
		cover;
}

.contact {
	background: url(../media/images/contact-bg.webp) no-repeat center center /
		cover;
}

/* Media querry for bigger devices */

/* Clamps for fonts so they will rise with bigger screen resolutions */
@media (min-width: 380px) {
	h1 {
		font-size: clamp(2rem, 2rem + 1vw, 3rem);
	}

	h2 {
		font-size: clamp(1.5rem, 1.5rem + 0.7vw, 2.2rem);
	}

	h3 {
		font-size: clamp(1.1rem, 1.1rem + 0.4vw, 1.5rem);
	}
	.main-nav a {
		font-size: clamp(1.3rem, 1.1rem + 0.2vw, 1.7rem);
	}

	p,
	a {
		font-size: clamp(0.8rem, 0.8rem + 0.4vw, 1.2rem);
	}
	.btn {
		width: 10rem;
	}
}

@media screen and (min-width: 768px) {
	/* Switch to desktop menu */

	header .fa-solid.ham-menu {
		display: none;
	}

	.main-nav {
		position: relative;
		padding-top: 0;
		left: 0;
		width: auto;
		height: auto;
		display: flex;
		justify-content: flex-end;
		gap: 1.2rem;
		background: none;
		backdrop-filter: none;
	}
	.logo-link {
		width: 160px;
	}
	.logo-img {
		width: 70%;
	}
	section {
		flex-direction: row;
	}
	.home-img {
		order: 1;
	}
	.home-text {
		position: absolute;
		width: 50%;
		left: 1rem;
		background: rgba(37, 43, 72, 0.6);
		padding: 1rem;
		border-radius: 1rem;
		-webkit-border-radius: 1rem;
		-moz-border-radius: 1rem;
		-ms-border-radius: 1rem;
		-o-border-radius: 1rem;
	}
	.btn-section {
		justify-content: left;
	}
	.icons-wrapper {
		text-align: left;
	}
}

@media screen and (min-width: 968px) {
	.logo-img {
		width: 100%;
	}
}
