/* !!!!!>>> Main Color Variables to be used on site <<<!!!!! */
:root {
	--text-main: #d5ffe4;
	--bg-main: #252b48;
	--cta: #00ff22;
	--trasparent-bg: rgba(37, 43, 72, 0.6);
	/* Skills slider with icons */
	--marquee-width: 100%;
	--marquee-height: 40vh;
	--marquee-elements-displayed: 3;
	--marquee-element-width: calc(
		var(--marquee-width) / var(--marquee-elements-displayed)
	);
	--marquee-animation-duration: calc(var(--marquee-elements) * 3s);
}

/* ------>>>  Basic Reset and Default Style  <<<------ */

/* Reset */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	border: none;
	outline: none;
	scroll-behavior: smooth;
	list-style: none;
	font-family: "Montserrat", sans-serif;
}
/* End Reset */

/* -------------------------------- */

/* ----->>>> Start Main Styles  <<<<----- */

body {
	background-color: var(--bg-main);
	color: var(--text-main);
	line-height: 1.5;
}

a {
	color: var(--text-main);
}

/* Focus when use keyboard */
:focus {
	outline: 3px solid var(--cta);
	outline-offset: 2px;
}

/* Start Headers/Text Sizes */
p,
a,
li,
.submit-btn {
	font-size: 0.8rem;
}

h1 {
	font-size: 2rem;
}
h2 {
	font-size: 1.5rem;
	border-left: 3px solid var(--cta);
	margin: 1rem 0;
	padding-left: 0.5rem;
	border-left: 2px solid var(--cta);
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}
h3 {
	font-size: 1.1rem;
	padding-bottom: 0.5rem;
}
/* ----->>>> End Headers/Text Sizes <<<<----- */

/* ----------------------------------------- */

/* ----->>>> Start Buttons Style  <<<<----- */

.btn-section {
	display: flex;
	justify-content: center;
}
.btn-section > *:not(:first-child) {
	margin-left: 1.2rem;
}

.submit-btn {
	background-color: transparent;
	color: var(--text-main);
	cursor: pointer;
}

.btn,
.submit-btn {
	display: inline-block;
	width: 7rem;
	text-align: center;
	position: relative;
	border: 1px solid var(--text-main);
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	padding: 0.5rem;
	margin-top: 2rem;
	z-index: 1;
}

.btn::before,
.submit-btn::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 100%;
	background: var(--cta);
	z-index: -1;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.btn:hover::before,
.submit-btn:hover::before {
	width: 100%;
}
.btn:hover,
.submit-btn:hover {
	color: #252b48;
	border: 1px solid var(--cta);
	border-radius: 5px;
}

/* ----->>>> End Buttons Style  <<<<----- */

/* ----------------------------------------- */

/* ----->>>> Start Header/Menu Style  <<<<----- */

header {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0.5rem 4%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 10;
	transition: background 0.3s ease, backdrop-filter 0.3s ease;
	-webkit-transition: background 0.3s ease, backdrop-filter 0.3s ease;
	-moz-transition: background 0.3s ease, backdrop-filter 0.3s ease;
	-ms-transition: background 0.3s ease, backdrop-filter 0.3s ease;
	-o-transition: background 0.3s ease, backdrop-filter 0.3s ease;
}

/* Skip link */

.skip-link {
	position: absolute;
	top: -40px;
	left: 0;
	background: #333;
	color: white;
	padding: 8px;
	z-index: 100;
	transition: top 0.2s;
}

.skip-link:focus {
	top: 0;
}

/* LOGO */

.logo-img {
	width: 60%;
	border: 2px solid #00ff22;
	padding: 2%;
	border-radius: 50%;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	transition: transform 0.9s;
	-webkit-transition: transform 0.9s;
	-moz-transition: transform 0.9s;
	-ms-transition: transform 0.9s;
	-o-transition: transform 0.9s;
}

@keyframes logoHoverAnimation {
	0% {
		transform: scale(1);
		border-color: var(--bg-main);
		-webkit-transform: scale(1);
		-moz-transform: scale(1);
		-ms-transform: scale(1);
		-o-transform: scale(1);
	}
	50% {
		transform: scale(0.7);
		border-color: var(--text-main);
		-webkit-transform: scale(0.7);
		-moz-transform: scale(0.7);
		-ms-transform: scale(0.7);
		-o-transform: scale(0.7);
	}
	100% {
		transform: scale(1.1);
		border-color: var(--cta);
		-webkit-transform: scale(1.1);
		-moz-transform: scale(1.1);
		-ms-transform: scale(1.1);
		-o-transform: scale(1.1);
	}
}

.logo-img:hover {
	animation: logoHoverAnimation 1s forwards;
	-webkit-animation: logoHoverAnimation 1s forwards;
}

.letter-accent {
	color: var(--cta);
}

.main-nav {
	position: fixed;
	padding-top: 2rem;
	top: 0;
	left: -100%;
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	backdrop-filter: blur(8px);
	transition: left 0.3s;
	overflow-y: auto;
}
.main-nav.open {
	left: 0;
}
.main-nav.open a {
	padding-bottom: 1rem;
}
.main-nav a {
	position: relative;
	font-size: 1rem;
	font-weight: 600;
	margin-left: 3rem;
	padding-bottom: 0.5rem;
	display: block;
	text-align: center;
	margin: 1rem 0;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}

.main-nav a::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 0;
	height: 3px;
	background-color: var(--cta);
	transition: width 0.3s ease-out;
	-webkit-transition: width 0.3s ease-out;
	-moz-transition: width 0.3s ease-out;
	-ms-transition: width 0.3s ease-out;
	-o-transition: width 0.3s ease-out;
}

.main-nav a:hover::before {
	width: 100%;
}

.main-nav a:hover,
.main-nav a:active {
	color: var(--cta);
}

/* --->>  Start Hamburger menu  <<--- */

.ham-menu {
	font-size: 2rem;
	cursor: pointer;
	position: absolute;
	right: 4%;
}
.fa-xmark.ham-menu {
	display: none;
	z-index: 20;
}
/* --->> End Hamburger menu <<--- */

/* ----->>>> End Header/Menu Style  <<<<----- */

/* ------------------------------------------- */

/* ----->>>> Sections Main Styles <<<<----- */

section {
	position: relative;
	min-height: 100vh;
	padding: 0 5% 2rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.wrapper {
	margin: 0 auto;
	max-width: 1444px;
	background: var(--trasparent-bg);
	padding: 1rem;
	border-radius: 1rem;
	-webkit-border-radius: 1rem;
	-moz-border-radius: 1rem;
	-ms-border-radius: 1rem;
	-o-border-radius: 1rem;
}

.about,
.education,
.projects {
	scroll-margin-top: 80px;
}

/* ----->>>> End Sections Main Styles <<<<----- */

/* ----->>>> Footer Style <<<<----- */

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.5rem;
}
footer .fa-brands {
	font-size: 1.5rem;
	margin-top: 0;
	margin-right: 1rem;
}
footer p {
	text-align: center;
}

/* /* ----->>>> End Footer Style <<<<----- */

/*----->>>> !!!! End Main Styles !!!! <<<<----- */

/* ----------------------------------------------- */

/* ----->>>> Start Home Section <<<<----- */

section .home {
	padding-top: 7rem;
}
.home-text p {
	margin: 2rem 0;
	max-width: 40ch;
}
.home-img {
	width: 85%;
}

.icons-wrapper {
	text-align: center;
}

.icons-wrapper a {
	margin-right: 2rem;
}

.icons-wrapper a:last-child {
	margin-right: 0;
}
.fa-brands {
	font-size: 2.5rem;
	margin-top: 2rem;
	transition: 0.4s;
	-webkit-transition: 0.4s;
	-moz-transition: 0.4s;
	-ms-transition: 0.4s;
	-o-transition: 0.4s;
}

.fa-brands:hover {
	color: var(--cta);
}
/* ----->>>> End Home Section <<<<----- */

/* -------------------------------------- */

/* ----->>>> Start About Section <<<<----- */
.about {
	background: url(../media/images/about-bg.webp) no-repeat center center / cover;
}
/* ----->>>> End About Section <<<<----- */

/* ------------------------------------------- */

/* ----->>>> Start Education Section <<<<----- */

.edu-half {
	border-left: 2px solid var(--cta);
	padding: 2rem;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
}
.edu-card {
	margin-top: 0.5rem;
}

/* ----->>>> End Education Section <<<<----- */

/* ------------------------------------------- */

/* ----->>>>  Start Skills Section  <<<<----- */

.skills {
	background: url(../media/images/skills-bg.webp) no-repeat center center /
		cover;
}
.skills p {
	margin-bottom: 1rem;
}
/* Skills slider with icons */
.marquee {
	width: var(--marquee-width);
	height: var(--marquee-height);
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.marquee:before,
.marquee:after {
	position: absolute;
	top: 0;
	width: 10rem;
	height: 100%;
	content: "";
	z-index: 1;
}

.marquee-content {
	list-style: none;
	height: 100%;
	display: flex;
	animation: scrolling var(--marquee-animation-duration) linear infinite;
}
/* .marquee-content:hover {
	animation-play-state: paused;
} */
@keyframes scrolling {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(
			calc(-1 * var(--marquee-element-width) * var(--marquee-elements))
		);
	}
}
.marquee-content li {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-shrink: 0;
	width: var(--marquee-element-width);
	max-height: 100%;
	font-size: calc(var(--marquee-height) * 3 / 4); /* 5rem; */
}
.marquee-content li img {
	width: 100%;
	height: auto;
	padding-right: 1rem;
}
.marquee:before,
.marquee:after {
	width: 5rem;
}

/* ----->>>> End Skills Section <<<<----- */

/* ---------------------------------------------- */

/* ----->>>>  Start Projects Section  <<<<----- */

.proj-container {
	display: grid;
	gap: 1rem;
	grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
}
.proj {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-direction: column;
	border-left: 2px solid var(--cta);
	padding: 1rem;
	border-radius: 2rem;
	-webkit-border-radius: 2rem;
	-moz-border-radius: 2rem;
	-ms-border-radius: 2rem;
	-o-border-radius: 2rem;
}
.proj h3 {
	height: 150px;
}
.proj img {
	max-width: 100%;
	max-height: 200px;
	display: block;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}

/* ----->>>> End Projects Section <<<<----- */

/* ------------------------------------------ */

/* ----->>>>  Start Contact Section  <<<<----- */

.contact {
	background: url(../media/images/contact-bg.webp) no-repeat center center /
		cover;
	background-position: -700px center;
}
.contact .wrapper {
	width: 100%;
}

.input-box {
	position: relative;
}

.input-box input,
textarea {
	width: 100%;
	font-size: 1rem;
	color: var(--text-main);
	padding: 0.8rem;
	margin-bottom: 1.5rem;
	border: none;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	outline: 2px solid var(--text-main);
	background-color: transparent;
	transition: outline-color 500ms;
	-webkit-transition: outline-color 500ms;
	-moz-transition: outline-color 500ms;
	-ms-transition: outline-color 500ms;
	-o-transition: outline-color 500ms;
}

.input-box input:is(:focus, :valid),
textarea:is(:focus, :valid) {
	outline-color: var(--cta);
	color: var(--cta);
}
.input-box input:is(:focus, :valid) ~ label,
textarea:is(:focus, :valid) ~ label {
	transform: translateX(0.5rem) translateY(-1.5rem);
	-webkit-transform: translateX(0.5rem) translateY(-1.5rem);
	-moz-transform: translateX(0.5rem) translateY(-1.5rem);
	-ms-transform: translateX(0.5rem) translateY(-1.5rem);
	-o-transform: translateX(0.5rem) translateY(-1.5rem);
	color: var(--cta);
	background: var(--bg-main);
	border-left: 2px solid var(--cta);
	border-right: 2px solid var(--cta);
	margin-top: 6px;
	padding: 0 0.5rem;
	font-size: 0.6rem;
}

.input-box label {
	position: absolute;
	top: 0;
	left: 0;
	translate: 10px 10px;
	pointer-events: none;
	transition: 0.5s;
	-webkit-transition: 0.5s;
	-moz-transition: 0.5s;
	-ms-transition: 0.5s;
	-o-transition: 0.5s;
}

/* Change the white text for autofilled input */
input:-webkit-autofill,
textarea:-webkit-autofill {
	-webkit-text-fill-color: var(--cta);
}

/* Change background for autofilled input */
input:-webkit-autofill,
textarea:-webkit-autofill,
input:-webkit-autofill:hover,
textarea:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill:focus,
input:-webkit-autofill:active,
textarea:-webkit-autofill:active {
	transition: background-color 5000s ease-in-out 0s;
	-webkit-box-shadow: 0 0 0 30px var(--trasparent-bg) inset;
}

/* Adjusting for Firefox */
input:-moz-autofill,
textarea:-moz-autofill {
	background-color: transparent;
	color: var(--cta);
}

/* ----->>>> End Contact Section <<<<----- */

/* ------------------------------------------- */

/* ----->>>> Media querry for bigger devices <<<<----- */

/* !!Clamps for fonts so they will rise with bigger screen resolutions!! */
@media (min-width: 380px) {
	h1 {
		font-size: clamp(2rem, 2rem + 1vw, 3rem);
	}

	h2 {
		font-size: clamp(1.5rem, 1.5rem + 0.7vw, 2.2rem);
	}

	h3 {
		font-size: clamp(1.1rem, 1.1rem + 0.4vw, 1.5rem);
	}
	.main-nav a {
		font-size: clamp(1.3rem, 1.1rem + 0.2vw, 1.7rem);
	}

	p,
	a,
	li,
	.submit-btn {
		font-size: clamp(0.8rem, 0.8rem + 0.4vw, 1.2rem);
	}
	.btn,
	.submit-btn {
		width: 10rem;
	}
}

@media (max-width: 444px) {
	.proj h3 {
		height: 85px;
	}
}

/* ----->>>> Switch to Desktop View <<<<---- */

@media screen and (min-width: 768px) {
	/* Desktop menu */
	header .fa-solid.ham-menu {
		display: none;
	}

	.main-nav {
		position: relative;
		padding-top: 0;
		left: 0;
		width: auto;
		height: auto;
		display: flex;
		justify-content: flex-end;
		gap: 1.2rem;
		background: none;
		backdrop-filter: none;
	}
	.logo-link {
		width: 160px;
	}
	.logo-img {
		width: 90%;
	}
	/* end desktop menu */
	section {
		flex-direction: row;
	}

	/* Home section */
	section.home {
		padding-top: 3rem;
	}
	.home-img {
		order: 1;
	}
	.home-text {
		position: absolute;
		width: 50%;
		left: 2rem;
		background: rgba(37, 43, 72, 0.6);
		padding: 1rem;
		border-radius: 1rem;
		-webkit-border-radius: 1rem;
		-moz-border-radius: 1rem;
		-ms-border-radius: 1rem;
		-o-border-radius: 1rem;
	}
	.btn-section {
		justify-content: left;
	}
	.icons-wrapper {
		text-align: left;
	}

	/* end home section */

	/* Education Section */
	.card-container {
		display: flex;
		padding: 1rem 0;
	}

	/* Skills Section*/

	:root {
		--marquee-width: 100%;
		--marquee-height: 40vh;
		/* --marquee-elements: 12; */ /* defined with JavaScript */
		--marquee-elements-displayed: 5;
	}

	/* Projects Section */
	.proj-container {
		grid-template-columns: repeat(3, 1fr);
	}

	/* Contact Section */
	.contact {
		background-position: center;
	}
	.contact .wrapper {
		max-width: 1000px;
	}
	.input-group {
		display: flex;
		justify-content: space-between;
	}
	.input-box input,
	textarea {
		font-size: 1.2rem;
	}
	.input-box input:is(:focus, :valid) ~ label,
	textarea:is(:focus, :valid) ~ label {
		font-size: 0.8rem;
		margin-top: -1px;
	}
	.input-box label {
		translate: 14px 14px;
	}

	.input-group .input-box {
		width: 48%;
	}
	label {
		font-size: 1.2rem;
	}
	.input-box input {
		padding: 1rem;
	}
}

@media screen and (min-width: 968px) {
	.logo-img {
		width: 100%;
	}
	footer .fa-brands {
		font-size: 2rem;
	}
}

/* End of Styles */
